<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<bean id="clearLoginErrorRecordSchedule" class="com.hikootech.mqcash.schedule.ClearLoginErrorRecordSchedule"></bean>
	
	<bean id="clearLoginErrorRecordJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="clearLoginErrorRecordSchedule" />
		</property>
		<property name="targetMethod">
			<value>service</value>
		</property>
	</bean>
	
	<bean id="clearLoginErrorRecordTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="clearLoginErrorRecordJobDetail"></property>  
	    <property name="cronExpression" value="0 0 0 * * ?"></property>  
	</bean>  
	
	<bean id="startQuertz"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="clearLoginErrorRecordTrigger"/>
			</list>
		</property>
	</bean>
</beans>