<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- settings必须放到mappers上面 -->
	<settings>
		<setting name="logPrefix" value="mybatis.dao."/>
	</settings>

	<!-- 实体类,简称 -设置别名 -->
	
	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
	<mappers>
		<mapper resource="context/mybatis/sqlmap/userCredit.xml" />
		<mapper resource="context/mybatis/sqlmap/userBankCard.xml" />
		<mapper resource="context/mybatis/sqlmap/UserRepaymentOrder.xml" />
		<mapper resource="context/mybatis/sqlmap/UserJyzxRecord.xml" />
		<mapper resource="context/mybatis/sqlmap/UserJyzxRecordItem.xml" />
		<mapper resource="context/mybatis/sqlmap/overDueNoRepayment.xml" />
		<mapper resource="context/mybatis/sqlmap/smOrder.xml" />
		<mapper resource="context/mybatis/sqlmap/log.xml"  />
		<mapper resource="context/mybatis/sqlmap/ConfigSmPrinciple.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserQhzxBlackList.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserQhzxCredit.xml"  />
		<mapper resource="context/mybatis/sqlmap/user.xml"  />
		<mapper resource="context/mybatis/sqlmap/recordPartnerOrderStatistic.xml"  />
		<mapper resource="context/mybatis/sqlmap/providePaymentRecord.xml"  />
		<mapper resource="context/mybatis/sqlmap/configKv.xml" />
		<mapper resource="context/mybatis/sqlmap/haodai.xml" />
		<mapper resource="context/mybatis/sqlmap/userOrderStatusLog.xml"  />
		<mapper resource="context/mybatis/sqlmap/configCreditKv.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserQhzxVerify.xml"  />
		<mapper resource="context/mybatis/sqlmap/SysAlarm.xml"  />
		
		<mapper resource="context/mybatis/sqlmap/failurePlans.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserInstalment.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserPaymentOrder.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserProtocol.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserRepaymentPlans.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserQhzxLoan.xml"  />
		<mapper resource="context/mybatis/sqlmap/batchBrMsg.xml"  />
		<mapper resource="context/mybatis/sqlmap/creditCollege.xml"  />
		<mapper resource="context/mybatis/sqlmap/UserSchoolRoll.xml"  />
		<mapper resource="context/mybatis/sqlmap/unipay.xml"  />
		
		<mapper resource="context/mybatis/sqlmap/NewStudentCredit.xml"  />
		<mapper resource="context/mybatis/sqlmap/StudentWhiteList.xml"  />
	</mappers>
	
</configuration>