@charset "utf-8";

.pay-font {
	font-size: 26px;
	font-family: 'Applied Font Bold', 'Applied Font';
	font-weight: 700;
	line-height: 50px;
}

.wx-pay {
	border-top: 0px;
}

.user-cashier {
	width: 950px;
	margin-left: 60px;
	margin-right: 60px;
	padding: 15px 30px;
}

.user-cashier span {
	margin-left: 20px;
}

.user-cashier img {
	margin-left: 20px;
}

.user-cashier #cpcnPayAmount, .user-cashier #wxPayAmount {
	font-size: 18px;
	letter-spacing: 1px;
	color: #F00;
	float: right;
	margin-right: 30px;
}

.cashier-icon-img {
	display: inline-block;
	vertical-align: middle;
}

.pay-btn-img {
	cursor: pointer;
}

#moreBank {
	background-color: #D9F1FF;
	font-weight: bolder;
	color: #2FA7E7;
}

#moreBank:HOVER {
	background-color: #FF5C5A;
	color: #FFF;
}